.iniciar-sesion-vista {
  display: flex;
  min-height: 100vh;
}

.iniciar-sesion-vista__imagen_fondo {
  flex: 1;
  background-color: #f8f8f8;
  background-image: url(".././assets/images/VibrantRedJukebox.png");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: auto;
}

.iniciar-sesion-vista__formulario {
  flex: 1;
  background-color: rgb(180, 5, 10);
  padding: 20px;
}

.iniciar-sesion-vista__formulario__img-rockola {
  display: block;
  margin: 0 auto;
}

.iniciar-sesion-vista__formulario__legend {
  text-align: center;
  font-size: 16px;
  color: white;
}

.iniciar-sesion-vista__formulario__title {
  font-size: 24px;
  margin-top: 0;
  color: white;
  text-align: center;
}

.iniciar-sesion-vista__formulario__mensaje_error {
  color: white;
  font-weight: bold;
}

.iniciar-sesion-vista__formulario__contenedor_inputs {
  display: flex;
  flex-direction: column;
}

.iniciar-sesion-vista__formulario__contenedor_inputs input {
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
  width: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Se puede agregar un margen al contenedor para separarlo de otros elementos */
.iniciar-sesion-vista__formulario__contenedor_inputs {
  margin: 20px;
}

.iniciar-sesion-vista__formulario__contenedor_inputs input::placeholder {
  color: gray;
  text-align: center;
}

.iniciar-sesion-vista__formulario__btn-log-in {
  width: 100%;
  padding: 25px 0px;
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 30px !important;
  border: none;
  border-radius: 60px;
  cursor: pointer;

  position: relative;
  overflow: hidden;
}

.iniciar-sesion-vista__formulario__btn-log-in:hover {
  animation: fizz 0.5s ease-in-out;
  box-shadow: 0 0 5px 3px white;
  animation: glow 0.5s ease-in-out infinite alternate;
}

/* Animaciones */
@keyframes fizz {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0px 0px white;
  }
  100% {
    box-shadow: 0 0 5px 3px white;
  }
}

.iniciar-sesion-vista__formulario__contrasena-olvidada {
  text-align: center;
  margin-top: 0px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-style: oblique;
  display: block;
}

.iniciar-sesion-vista__formulario__enlace-registro {
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-style: oblique;
  display: block;
  margin-top: 20px;
}

.iniciar-sesion-vista a {
  text-decoration: none;
}

.iniciar-sesion-vista__formulario__contrasena-olvidada:hover,
.iniciar-sesion-vista__formulario__enlace-registro:hover {
  color: gray;
}

/*Responsive*/
@media (max-width: 768px) {
  .iniciar-sesion-vista__imagen_fondo {
    display: none;
  }
}
